<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Set your browser-->
    <add key="Browser" value="C"/>
    <add key="ElementTimeOut" value="5"/>
    <add key="StartURL" value="https://mail.ru"/>
    <add key="Login" value="login_test11"/>
    <add key="Password" value="pAsswOrd11"/>
  </appSettings>
</configuration>